
/* COR ROXA = RGB : 112, 61, 130 */


    

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1, h2, h3{
    color:rgb(112, 61, 130);
}
h2{
    letter-spacing: .2em;
    text-transform: uppercase;
}
.header a{
    text-decoration: none;
}
.logo { 
    width:100%;
}
.header-div{
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;  
}
.header-div a{
    width:50%;
}
.header-nav{
    display:inline-block;
    width:100%;  
}
.header-nav li{
    background-color:rgb(112, 61, 130) ;
    list-style: none;
    width:100%;
    text-align: center;
    color:white;
    padding:1.5em;
    font-size:1em;
}
.header-nav li:hover{
    background:rgb(124, 91, 136);
}
main{
font-size:16px;
}
.article-firts{   
    text-align:center;
}
.botao{
    display:inline-block;
    margin: 1em 0 ;
}
.botao a{
    background:rgb(113, 198, 226);
    padding:1em 2em;
    text-decoration: none;
    color:white;
    border-radius: .5em;
}
.botao a:hover{
    border:2px solid rgb(47, 176, 219);
}
.section-firts h1{
    margin:1em auto;
    font-size:1.5em;
}
.section-firts p{
    margin-bottom:1em;
    color:rgb(112, 61, 130);
}
.icons{
    margin:3em 0 .2em 0;
}
.article-firts h2{
    margin-bottom:.7em;
}
.article-second{
    padding:0.5em 1em 0 1em;
    margin:1em  0 0 0 ;
    background-color:#ccc;
    width:100%;
}
.article-second h2{
    margin: 2em 0 .7em 0;
}
.article-second .botao{
    margin: 2em 0 0 0;
}
.article-second .botao-baixo{
    margin: 2em 0 3em 0;
}
.footer{
    background-color:rgb(31, 40, 51);
    text-align: center;
    color:rgb(108, 115, 124);
}
.footer-div{
    background-color:rgb(48, 61, 76);   
    height:4em;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-div img{
    border-radius:100%;
    width:3em;
    margin-left:2em;
    border:2px solid rgba(255, 255, 255, 0.438);
}
.footer h3{
    color:rgb(108, 115, 124);
    margin:1em 0 1em 0;
}
.footer p{
    padding-bottom:2em;
}
.play{
    display:none;
    width:5em;
    text-align: center;
    margin: 2em auto;
}

@media (min-width:700px){

    .header{
        display:flex;
        height:50px;
        width:100%;
        margin:0;
    }
    .header-div{
        width:50%;
        height: 50px;
    }
    .header-div a{
        height: 50px;
        width:100%;
    }
    .logo{
        width:180px;
    }
    .header-nav {
        display:flex;
        height:50px;
        width:45%; 
    }
    .header-nav ul{
        display:flex;
        justify-content: space-between;
        width:100%;
        height:50px;
    }
    .header-nav a{
        display:inline-block;
      
    }
    .header-nav li{
        width:100%;
        color:rgb(112, 61, 130);
        background-color: transparent;
        font-weight: bolder;
        font-size: 1em;
        height:50px; 
    }
    .header-nav li:hover{
        border:2px solid rgb(112, 61, 130);
        background:transparent;
    }
    main{
        margin:0;
    }
    .section-firts{
        background-color:rgb(112, 61, 130);
        padding:1em;
        width:100%;
    }
    .section-firts h1{
        color:white;
    }
    .section-firts p{
        color:white;
    }
    .play{
        display:block;
    }
    .article-firts{
        display:flex;
        flex-wrap: wrap;
        width:100%;  
    }
    .article-second{
        width:100%;
        margin:0;
    }
    .section1{
        width:50%;
        padding:1em;
    }

    @media (min-width:1000px) {
        .section-firts{
            background-image: url(arquivo/images/bg_topo_1198x670.jpg);
            background-size: 100%;
            padding:1em;
            width:100%;
            height:400px;
            background-repeat: no-repeat;
        }
    
    }
    @media (min-width:1400px){
        .section-firts{
            background-image: url(arquivo/images/bg_topo_1600x1374.jpg);
            background-size: 100%;
            background-position:center;
            height:60vh;
        }
        .article-firts{
            display:flex;
            flex-wrap: wrap;
            width:100%;
            margin-bottom:2em;
        }
        .section1{
            width:25%;
            padding:1em;
        }
        .article-second{
            display:flex;
            flex-wrap: wrap;
            width:100%;
            margin:0;
        }
        .article-second section{
            width:48%;
            margin:1%
        }
    }
}